<div class="container-forms">
  <h1>Add a new <strong>collection</strong> !</h1>

  <%= simple_form_for(@collection) do |f| %>
    <%= f.input :title %>
    <%= f.submit "Submit", class: "btn btn-success" %>
  <% end %>
</div>
