// Define variables for your color scheme
body {
  background-color: #F9F9F9!important;
}

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #ffffff;
$artco-blue: #3333ff;
$artco-darkblue: #1c1e27;
$artco-yellow: #ffc506;
