// Specific CSS for your home-page
.homepage-container {
  width: 50%;
  margin: 0 auto;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

@media (min-width: 100px) and (max-width: 999px) {
  .homepage-container {
    width: 80%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 1000px) and (max-width: 1700px) {
  .homepage-container {
    width: 80%;
  }
}

.homepage-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
}

@media (max-width: 680px) {
  .homepage-cards {
    grid-template-columns: 1fr;
    gap: 5%;
  }
}

.hompage-link-image {
  height: 350px;
}

.homepage-card {
  a {
    display: block;
  }
  img {
    width: 100%;
    background-size: cover;
    object-fit: cover;
  }
  img:hover {
    opacity: 0.95;
    padding: 5px;
  }
}

.homepage-btn {
  width: 100%;
  background-color: #3333ff;
  color: white;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

.homepage-btn:hover {
  background-color: #1C1E27;
  color: white;
}


.homepage-dark-btn {
  width: 100%;
  background-color: #1C1E27;
  color: white;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.homepage-dark-btn:hover {
  background-color: #3333FF;
  color: white;
}

.homepage-index-scroll {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.homepage-artworks-cards {
  flex-shrink: 0;
  width: 15%;
  margin: 1%;
  margin-right: 1%;
}

.homepage-artworks-card-img {
  aspect-ratio: 16 / 12;
  background-size: cover;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.homepage-artworks-card-img:hover {
  opacity: 0.7;
}

.homepage-scroll-container {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  background-color: #1C1E27;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}

.homepage-bottom-container {
  background-color: rgb(235, 234, 234);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8%;
}

@media (max-width: 1700px) {
  .homepage-bottom-container {
    display: none;
  }
  .homepage-artworks-cards {
    width: 45%;
  }
}

.homepage-social-media {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 50px;
  letter-spacing: 10px;
}

.homepage-bottom-left img {
  width: 30%;
  margin-bottom: 4%;
}

.homepage-social-media i {
  color: #1C1E27;
  margin-bottom: 4%;
}

.homepage-social-media i:hover {
  color: #3333FF;
}

.homepage-bottom-right {
  margin-right: 12%;
}

.homepage-looking {
  width: 260px;
  margin: 0 auto;
  margin-left: 2%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: white;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0px 4px 16px -4px rgba(43, 54, 76, 0.08), 0px 12px 24px -16px rgba(0, 0, 0, 0.25);
  img {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: #d2d2d2 1px solid;
    margin: 2%;
    background-size: cover;
    object-fit: cover;
    object-position: top;
    margin-bottom: 6%;
  }
  img:hover {
    opacity: 0.95;
    padding: 5px;
    border: 3px solid #3333ff;
  }
  p {
    margin-bottom: 0;
  }
  .homepage-btn {
  width: 100%;
  background-color: #3333FF;
  color: white;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  }
  .homepage-btn:hover {
    background-color: #1C1E27;
    color: white;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 100px) and (max-width: 999px) {
  .homepage-looking {
    display: none;
    p {
      font-size: 20%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 1000px) and (max-width: 1700px) {
  .homepage-looking {
    width: 20%;
  }
}

.homepage-dark {
  background-color: #1C1E27;
  margin-bottom: 2%;
}

.homepage-dark-text {
  width: 60%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 3%;
  h1, p {
    color: white;
  }
}

@media (min-width: 100px) and (max-width: 999px) {
  .homepage-dark-text {
    width: 75%;
    h1 {
      font-size: 90%;
    }
    p {
      font-size: 70%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 1000px) and (max-width: 1700px) {
  .homepage-dark-text {
    width: 80%;
  }
}



.homepage-steps-container {
  width: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

  .homepage-btn {
    width: 20%;
    margin-top: 8%;
    margin-bottom: 0;
  }
}

.homepage-steps {
  width: 50%;
  margin-top: 6%;
  margin-bottom: 6%;

  h4 {
    margin-bottom: 3%;
  }
}

@media (min-width: 100px) and (max-width: 999px) {
  .homepage-steps {
    width: 80%;
    .homepage-steps-grid {
      grid-template-columns: 1fr;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 1000px) and (max-width: 1700px) {
  .homepage-steps {
    width: 80%;
    .homepage-steps-grid {
      grid-template-columns: 1fr;
    }
  }
}

.homepage-steps-text {
  display: flex;
  justify-content: center;
  align-items: center;

  .number {
    background-color: #3333ff;
    border-radius: 100%;
    width: 9%;
    color: white;
    margin-right: 4%;
  }
}

.homepage-steps-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
}

.homepage-steps-grid-cards {
  display: flex;
  flex-direction: column;
  img {
    max-width: 100%;
  }
  p {
    margin-bottom: 0;
  }
}

html {
  scroll-behavior: smooth;
}

#venue:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

.venue-btn {
  background-color: white;
  color: #1C1E27;
  border-radius: 2px;
  padding: 1% 2%;
  margin-right: 2%;
  text-decoration: none;
}

.venue-btn:hover {
  background-color: #3333ff;
  color: white;
  text-decoration: none;
}

.artist-btn {
  color: white;
  text-decoration: none;
}

.artist-btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
