
<div class="img-container" data-slideshow>
  <% rng = (1..20).to_a.shuffle %>
  <% rng.each do |num| %>
  <%= image_tag "banner/ArtBanner#{num}.jpeg", alt: "Art Banner #{num}", class: "banner-home" %>
  <% end %>
</div>
