<div class="home-banner">
  <h1>Art Co</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
