<!-- Slideshow container -->
<div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <%= image_tag "banner/ArtBanner1.jpeg", alt: "Art Banner 1", class: "banner-home" %>
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <%= image_tag "banner/ArtBanner2.jpeg", alt: "Art Banner 2", class: "banner-home" %>
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <%= image_tag "banner/ArtBanner3.jpeg", alt: "Art Banner 3", class: "banner-home" %>
    <div class="text">Caption Three</div>
  </div>
