<h1><%= venue.name %></h1>
<p class="text-secondary"><i class="fas fa-map-marker-alt"></i>  <%= venue.address %></p>
<p class="text-secondary"><i class="fas fa-envelope"></i>  <%= venue.type_of_venue %></p>
<p class="text-secondary"><i class="fas fa-envelope"></i>  <%= venue.venue_url %></p>
