.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
