@import 'slideshow';
@import 'card';
@import 'map';
@import 'navigation';

.wrapper-venue {
  display: flex;
  margin: 40px auto;
  padding-left: 40px;
  max-width: 1800px;
}

.container-venue {
  flex-grow: 1;
}
