


.wrapper {
min-height: 100vh;
background-color: #2D3E4F;
color: white;
padding: 30px 60px;
}

form {
  display: flex;
  width: 300px;
  margin: 0 auto;
}

.map-form-card {
  margin-top: 100px;
}

input:first-child {
  margin-right: 5px;
}
