body {
  margin: 0;
}

.img-container {
  height: 40vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    max-width: 50%;
    z-index: 10;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #1c1e2765;
    border-radius: 8px;
    padding: 2%;
  }
}

.img-container img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));
  // filter: grayscale(100);
}

.img-container img.next {
  opacity: 1;
  z-index: 1;
}

.img-container img.prev {
  opacity: 1;
  z-index: 2;
}

.img-container img.fade-out {
  opacity: 0;
  transition: visibility 3s 2s, opacity 3s linear;
  visibility: hidden;
}
