.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 1s background-color ease;
  width: 100%;
  z-index: 100;
}

.navbar-lewagon-darkblue {
  background-color: $artco-darkblue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 100%;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #fff;

  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}

.logo-and-name {
  display: flex;
  align-items: center;
}

.logo-wrapper {
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 8px;

  .color-logo {
    display: block;
  }

  .white-logo {
    display: none;
  }
}

.logo-wrapper.logo-visible {
  .color-logo {
    display: none;
  }

  .white-logo {
    display: block;
  }
}

// .logo_wrapper img {
//   position: absolute;
//   left: 0;

//   .white {
//     opacity: 0;
//     transition: opacity 0.2s linear;

//     .logo-visible {
//       opacity: 1;
//     }
//   }
// }

#home-navbar {
  position: fixed;
}

.nav-link.active {
  background-color: #3333FF!important;
}

.nav-link.active:hover {
  background-color: #1C1E27!important;
}

.nav-link {
  color: #1C1E27;
}

.nav-link:hover {
  color: #3333FF;
}

.dashboard-link {
  color: white!important;
}


.search-field {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: white;
  }

  .search-entry {
    background-color: transparent;
    border: none;
    display: none;
  }
}

.search-field-click {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50px;
  padding: 5px;
  width: 250px;
  height: 40px;
  color: white;
  transition: width 2s, height 2s;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ::placeholder {
    color: white;
  }

  i {
    color: white;
    margin-right: 5px;
  }

  .search-entry {
    color: white;
    background-color: transparent;
    border: none;
    width: 100%;

    :focus {
      background-color: transparent;
      border: none;
    }

  }
}
