.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 1s background-color ease;
  width: 100%;
  z-index: 100;
}

.navbar-lewagon-darkblue {
  background-color: $artco-darkblue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #fff;

  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}

.logo-and-name {
  display: flex;
  align-items: center;
}

.logo_wrapper {
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 8px;
}

.logo_wrapper img {
  position: absolute;
  left: 0;

  &.white {
    opacity: 0;
    transition: opacity 0.2s linear;

    &.logo-visible {
      opacity: 1;
    }
  }
}

#home-navbar {
  position: fixed;
}

.nav-link.active {
  background-color: #3333FF!important;
}

.nav-link.active:hover {
  background-color: #1C1E27!important;
}

.nav-link {
  color: #1C1E27;
}

.nav-link:hover {
  color: #3333FF;
}

.dashboard-link {
  color: white!important;
}

.search-field {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  width: 20vw;
  color: white;

  &::placeholder {
    color: white;
    padding-left: 5px;
  }

  &:focus {
    background-color: transparent;
    color: $white;
  }
}
