
  <div class="confirmation-box">
    <div class="confirmation-image" style="background-image: url('<%= image_path "mediumstyle/artist.png", crop: :fill %>')"></div>
    <h1 style="color: black;">Our artists are ready - are you?</h1>
    <%= form.submit class: "button-sub" %>
  </div>
