.user-artist-show-container {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 2%;
}

.user-artist-profile {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 2%;
  margin-top: 0;
}

.artworks-index-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
}

.artworks-index-cards {
  margin: 2%;
}

.user-artist-social-media {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 50px;
  letter-spacing: 10px;
}

.user-artist-social-media i {
  color: #3333FF;
}

.user-artist-social-media i:hover {
  color: #1C1E27;
}

.collections-index-cards-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.collections-index-scroll {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding-left: calc(3% - 10px);
  margin-bottom: 5%;
}

.collections-artwork-index-card-img {
  aspect-ratio: 16 / 12;
  background-size: cover;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.collections-artwork-index-card-img:hover {
  opacity: 0.7;
}

.collections-artworks-index-cards {
  flex-shrink: 0;
  width: 35%;
  margin: 1%;
  margin-right: 3%;
}

.users-index-container {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 2%;
}

.users-index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.users-index-cards {
  margin: 2%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  a {
    color: #1C1E27;
    text-decoration: none;
  }
}

.users-index-cards-img {
  aspect-ratio: 16 / 12;
  background-size: cover;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


.container-forms {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 2%;
}
